<%= form_with(model: wallet) do |form| %>
  <% if wallet.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(wallet.errors.count, "error") %> prohibited this wallet from being saved:</h2>

      <ul>
        <% wallet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :amount, style: "display: block" %>
    <%= form.text_field :amount %>
  </div>

  <div class="col-md-12" style="padding:5px"> </div>

  <div>
    <%= form.label :remark, style: "display: block" %>
    <%= form.text_field :remark %>
  </div>

  <div class="col-md-12" style="padding:5px"> </div>

  <div>
    <%= form.label :receiver_user_id, style: "display: block" %>
    <%= form.collection_select :receiver_user_id, @users, :id, :email %>
  </div>

  <div class="col-md-12" style="padding:5px"> </div>

  <div>
    <%= form.submit 'Submit Transaction' %>
  </div>
<% end %>
