<%= form_with(model: wallet) do |form| %>
  <% if wallet.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(wallet.errors.count, "error") %> prohibited this wallet from being saved:</h2>

      <ul>
        <% wallet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <label style="display: block" for="wallet_amount">
      Amount <t style="color:red;">*</t>
    </label>
      
    <%= form.text_field :amount, required: true %>
  </div>

  <div class="col-md-12" style="padding:5px"> </div>

  <div>
    <%= form.label :remark, style: "display: block" %>
    <%= form.text_field :remark %>
  </div>

  <div class="col-md-12" style="padding:5px"> </div>

  <div>
    <label style="display: block" for="wallet_amount">
      Receiver User <t style="color:red;">*</t>
    </label>

    <%= form.collection_select :receiver_user_id, @users, :id, :email, required: true %>
  </div>

  <div class="col-md-12" style="padding:5px"> </div>

  <div>
    <%= form.submit 'Submit Transaction' %>
  </div>
<% end %>

<script>
  $(document).on("input", "#wallet_amount", function() {this.value = this.value.replace(/\D/g,'');});
</script>