<div id="<%= dom_id wallet %>">
  <p>
    <strong>Amount:</strong>
    <%= wallet.amount %>
  </p>

  <p>
    <strong>Remark:</strong>
    <%= wallet.remark %>
  </p>

  <p>
    <strong>Receiver user:</strong>
    <%= wallet.receiver_user&.email %>
  </p>

  <p>
    <strong>Sender user:</strong>
    <%= wallet.sender_user&.email %>
  </p>

</div>
